<%- include('particles/header.ejs') %>
<%- include('particles/navigation.ejs') %>

<form action="/create-cat" method="post">
    <input  name='title' type="text" placeholder='Название'>
    <textarea name="description" placeholder="Описание"></textarea>
    <input class="form-button" type="submit" value="Создать категорию">
</form>

<%- include('particles/footer.ejs') %>